<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:heading {"style":{"typography":{"fontStyle":"normal","fontWeight":"600","fontSize":"40px"}},"className":"titulo-home-lua"} -->
<h2 class="titulo-home-lua" style="font-size:40px;font-style:normal;font-weight:600">Tudo sobre a lua e o lindo espaço</h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"align":"center"} -->
<p class="has-text-align-center">O espaço é um lugar vasto e misterioso, cheio de maravilhas e belezas incríveis. O universo abriga bilhões de estrelas, planetas, cometas, galáxias e outros objetos celestes fascinantes. A Lua é um desses objetos e é um dos corpos celestes mais próximos da Terra. Sua superfície é pontilhada por crateras, montanhas e vales, e sua cor cinza prateada é uma visão incrível. Durante as noites de lua cheia, seu brilho é ainda mais impressionante, iluminando a paisagem terrestre com uma luz mágica. Olhar para a Lua pode inspirar sentimentos de admiração, reverência e mistério, e é uma das maravilhas do universo que nos fazem lembrar de quão pequenos somos em relação ao cosmos.</p>
<!-- /wp:paragraph -->

<!-- wp:media-text {"align":"full","mediaPosition":"right","mediaId":26,"mediaLink":"http://localhost:3400/?attachment_id=26","mediaType":"image","mediaWidth":60,"verticalAlignment":"top","style":{"color":{"background":"#121c1c","text":"#fffdc7"},"elements":{"link":{"color":{"text":"#fffdc7"}}}}} -->
<div class="wp-block-media-text alignfull has-media-on-the-right is-stacked-on-mobile is-vertically-aligned-top has-text-color has-background has-link-color" style="color:#fffdc7;background-color:#121c1c;grid-template-columns:auto 60%"><div class="wp-block-media-text__content"><!-- wp:group {"style":{"spacing":{"padding":{"top":"2em","right":"2em","bottom":"2em","left":"2em"}},"elements":{"link":{"color":{"text":"#fffdc7"}}}}} -->
<div class="wp-block-group has-link-color" style="padding-top:2em;padding-right:2em;padding-bottom:2em;padding-left:2em"><!-- wp:heading {"style":{"typography":{"fontWeight":"700","fontSize":"48px","lineHeight":"1.15"}},"className":"wp-block-heading"} -->
<h2 class="wp-block-heading" style="font-size:48px;font-weight:700;line-height:1.15">Pouse na lua </h2>
<!-- /wp:heading -->

<!-- wp:heading {"textAlign":"right","style":{"typography":{"fontWeight":"700","fontSize":"38px","lineHeight":"1.15"}},"className":"wp-block-heading"} -->
<h2 class="has-text-align-right wp-block-heading" style="font-size:38px;font-weight:700;line-height:1.15">A sua imaginação e um foguete mega teslar</h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"style":{"elements":{"link":{"color":{"text":"#fffdc7"}}},"color":{"text":"#fffdc7"}}} -->
<p class="has-text-color has-link-color" style="color:#fffdc7"><a rel="noreferrer noopener" href="https://www.nasa.gov/multimedia/imagegallery/index.html" target="_blank">Viage</a>-&gt;</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div><figure class="wp-block-media-text__media"><img src="http://localhost:3400/wp-content/uploads/2023/03/pexels-pixabay-41162-1024x1024.jpg" alt="" class="wp-image-26 size-full"/></figure></div>
<!-- /wp:media-text --></div>
<!-- /wp:group -->

<!-- wp:spacer {"height":"77px"} -->
<div style="height:77px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:heading {"textAlign":"center","style":{"typography":{"fontSize":"40px"}}} -->
<h2 class="has-text-align-center" style="font-size:40px">O poque de ir a lua</h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"align":"center"} -->
<p class="has-text-align-center">A razão pela qual as pessoas vão à Lua é para aprender mais sobre ela, explorar os recursos disponíveis e descobrir novas formas de usar esses recursos em benefício da humanidade. Além disso, a exploração da Lua também é importante para o desenvolvimento de tecnologias avançadas e para o estudo de outros planetas.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"align":"center"} -->
<p class="has-text-align-center">Existem várias maneiras de se chegar à Lua. A maneira mais comum é através de foguetes espaciais. Para isso, é necessário planejar com antecedência, pois os foguetes precisam ser construídos e equipados com os equipamentos necessários para a viagem. Além disso, é necessário treinar os astronautas para que eles possam sobreviver às condições extremas do espaço. Por fim, é preciso planejar o lançamento do foguete para que ele possa chegar à Lua em segurança.</p>
<!-- /wp:paragraph -->

<!-- wp:image {"width":741,"height":355,"sizeSlug":"large","className":"is-style-rounded"} -->
<figure class="wp-block-image size-large is-resized is-style-rounded"><img src="https://images.pexels.com/photos/7105597/pexels-photo-7105597.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=1260&amp;h=750&amp;dpr=1" alt="" width="741" height="355"/></figure>
<!-- /wp:image -->

<!-- wp:paragraph {"align":"center"} -->
<p class="has-text-align-center">Seja bem-vindo ao nosso site, que o levará à Lua! Estamos aqui para ajudar você a planejar sua viagem para a Lua. Aqui, você encontrará informações sobre como preparar seu foguete, treinar os astronautas e planejar o lançamento. Também temos informações sobre os recursos disponíveis na Lua e como eles podem ser usados para benefício da humanidade. Estamos orgulhosos de oferecer esses serviços e estamos ansiosos para ajudar você a planejar sua viagem para a Lua. Boa sorte e divirta-se!</p>
<!-- /wp:paragraph -->

<!-- wp:group {"align":"full","style":{"color":{"text":"#000000","background":"#ffffff"}}} -->
<div class="wp-block-group alignfull has-text-color has-background" style="color:#000000;background-color:#ffffff"><!-- wp:paragraph {"align":"center","style":{"typography":{"lineHeight":".9"}},"fontSize":"small"} -->
<p class="has-text-align-center has-small-font-size" style="line-height:.9"></p>
<!-- /wp:paragraph -->

<!-- wp:heading {"textAlign":"center","style":{"typography":{"fontSize":59,"lineHeight":"1.15"}}} -->
<h2 class="has-text-align-center" id="schedule-a-visit" style="font-size:59px;line-height:1.15"><strong>Esta preparado para essa viagem??</strong></h2>
<!-- /wp:heading -->

<!-- wp:buttons {"layout":{"type":"flex","justifyContent":"center","orientation":"horizontal"}} -->
<div class="wp-block-buttons"><!-- wp:button {"width":50,"style":{"color":{"background":"#000000","text":"#ffffff"},"border":{"radius":"50px"}}} -->
<div class="wp-block-button has-custom-width wp-block-button__width-50"><a class="wp-block-button__link has-text-color has-background wp-element-button" style="border-radius:50px;color:#ffffff;background-color:#000000">Enviar mensagem secreta</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons -->

<!-- wp:spacer {"height":"53px"} -->
<div style="height:53px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer --></div>
<!-- /wp:group -->

<!-- wp:image {"id":30,"width":768,"height":494,"sizeSlug":"large","linkDestination":"none","className":"is-style-rounded"} -->
<figure class="wp-block-image size-large is-resized is-style-rounded"><img src="http://localhost:3400/wp-content/uploads/2023/03/pexels-pixabay-2159-1024x658.jpg" alt="" class="wp-image-30" width="768" height="494"/></figure>
<!-- /wp:image --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->